<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
	<title th:text="#{label.restaurant.temp.regist} + '−' + (${@environment.getProperty('LOCAL_NAME') == null}? '地元':${@environment.getProperty('LOCAL_NAME')}) + #{label.system.title}">飲食店仮登録 - 地元の飲食店 テイクアウト注文支援サービス</title>
</head>
<body>
<div layout:fragment="content" class="row justify-content-center offset-lg-1">
	<form th:action="@{/restaurants/temp_register}" th:object="${restaurantTempRegisterForm}" class="form-horizontal col-8 col-lg-12" method="post">
		<input type="hidden" id="tranToken" name="tranToken" th:field="*{tranToken}" />
		<fieldset>
			<legend th:text="#{label.restaurant.temp.regist}">飲食店仮登録</legend>
			<div class="offset-lg-1">
				<div class="form-group form-row">
					<label for="name" class="col-lg-3 col-form-label" th:text="#{label.restaurant.name}">店名</label>
					<div class="col-lg-5">
						<input type="text" id="name" name="name" 
							th:field="*{name}" 
							class="form-control" th:classappend="${#fields.hasErrors('name')}? 'is-invalid'" 
							value="〇〇食堂"/>
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">error!</span>
					</div>
				</div>
				<div class="form-group form-row">
					<label for="mailAddress" class="col-lg-3 col-form-label" th:text="#{label.mailaddress}">メールアドレス</label>
					<div class="col-lg-5">
						<input type="text" id="mailAddress" name="mailAddress" 
							th:field="*{mailAddress}" 
							class="form-control" th:classappend="${#fields.hasErrors('mailAddress')}? 'is-invalid'" 
							value="restaurant-admin@example.com"/>
						<span th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}" class="invalid-feedback">error!</span>
						<div><small th:text="#{guidance.restaurant.mailaddress}">※このメールアドレスにお客さんからの注文情報が届きます。</small></div>
					</div>
				</div>
				<div class="form-group form-row">
					<label class="col-12 col-form-label" th:text="#{label.terms_of_service}">利用規約</label>
					<div>
						<div class="overflow-auto bg-light border" thex:textbr="#{guidance.terms_of_service}" style="max-height: 400px;">利用規約の内容</div>
					</div>
				</div>
				<hr/>
				<div class="form-group form-row">
					<div class="col-lg-12" th:text="#{guidance.temp.regist}">仮登録ガイダンス</div>
				</div>
				<div class="form-group form-row">
					<div >
						<input type="checkbox" name="agreed" id="agreed" th:field="*{agreedTermOfUse}"/>
						<label for="agreed" class="col-form-label">利用規約に同意しました。</label>
					</div>
				</div>
				<div class="form-group form-row">
					<div>
						<input type="submit" class="btn btn-primary" th:value="#{label.temp.regist}" value="仮登録" disabled="disabled"/>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
</body>
</html>