<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:thex="http://www.example.com"
	layout:decorate="~{fragments/layout}">
<head th:replace="fragments/head :: htmlhead(#{label.restaurant.temp.register})"></head>
<body>
<h2  layout:fragment="header2" th:replace="fragments/header2 :: header2(#{label.restaurant.temp.register})"></h2>
<div layout:fragment="content">
	<form th:action="@{/restaurant/temp_register/register}" th:object="${restaurantTempRegisterForm}" method="post">
		<fieldset>
			<legend th:text="#{label.restaurant.temp.register.items}"></legend>
			<div class="container">
				<div class="row py-1">
					<div class="col">
						<div class="form-group form-row" th:if="${not #strings.isEmpty(errorMessage)}">
							<div th:text="${errorMessage}" class="text-danger"></div>
						</div>
						<div class="form-group form-row">
							<label for="name" class="col-lg-3 col-form-label" th:text="#{restaurantTempRegisterForm.name}"></label>
							<div class="col-lg-5">
								<input type="text" id="name" name="name" 
									th:field="*{name}" 
									class="form-control" th:classappend="${#fields.hasErrors('name')}? 'is-invalid'" 
									value="〇〇食堂"/>
								<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">error!</span>
							</div>
						</div>
						<div class="form-group form-row">
							<label for="mailAddress" class="col-lg-3 col-form-label" th:text="#{restaurantTempRegisterForm.mailAddress}"></label>
							<div class="col-lg-5">
								<input type="text" id="mailAddress" name="mailAddress" 
									th:field="*{mailAddress}" 
									class="form-control" th:classappend="${#fields.hasErrors('mailAddress')}? 'is-invalid'" 
									value="restaurant-admin@example.com"/>
								<span th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}" class="invalid-feedback">error!</span>
								<div><small th:text="#{guidance.restaurant.mailaddress}"></small></div>
							</div>
						</div>
						<div class="form-group form-row">
							<label class="col-12 col-form-label" th:text="#{restaurantTempRegisterForm.agreedTermOfUse}"></label>
							<div>
								<div class="overflow-auto bg-light border" thex:textbr="#{guidance.terms_of_service}" style="max-height: 400px;"></div>
							</div>
						</div>
						<hr/>
						<div class="form-group form-row">
							<div class="col-lg-10" th:text="#{guidance.temp.regist}"></div>
						</div>
						<div class="form-group form-row">
							<div>
								<input type="checkbox" name="agreed" id="agreed" value="checked" th:field="*{agreedTermOfUse}"
									th:classappend="${#fields.hasErrors('agreedTermOfUse')}? 'is-invalid'"/>
								<label for="agreed" class="col-form-label" th:text="#{label.agreed_term_of_use}"></label>
								<span th:if="${#fields.hasErrors('agreedTermOfUse')}" th:errors="*{agreedTermOfUse}" class="invalid-feedback">error!</span>
							</div>
						</div>
						<div class="form-group form-row">
							<div>
								<input type="submit" name="register" id="register" class="btn btn-primary" data-prevent-double-transmit="true" th:value="#{label.temp.register}" value="仮登録" disabled="disabled"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<script layout:fragment="scripts">
	$(function() {
		controlRegisterButton();
	});
	$('#agreed').click(function() {
		controlRegisterButton();
	});
	function controlRegisterButton() {
		$('#register').prop('disabled', !$('#agreed').prop('checked'));
	}
</script>
</body>
</html>