<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head th:replace="fragments/head :: htmlhead(#{label.restaurant.temp.registered})"></head>
<body>
<h2  layout:fragment="header2" th:replace="fragments/header2 :: header2('エラー')"></h2>
<div layout:fragment="content">
	<div class="form-group form-row">
       <div th:text="${errorMessage}" class="invalid-feedback"></div>
	</div>
    <div class="form-group form-row">
       <a href="#" th:href="@{/${originalPageLink}}">元のページへ戻る</a>
    </div>
</div>
</body>
</html>